In [13]:
import numpy as np
import pandas as pd

In [14]:
df = pd.read_csv("./df_play.csv")
df.timestamp = pd.to_datetime(df.timestamp)
df.sort_values(by="timestamp", inplace=True)
df.reset_index(drop=True, inplace=True)
df.head(3)

     PROCESS           timestamp      LOTID    c_angle    e_angle
0  EC03B_SOI 2019-01-22 08:57:28   33239.02  88.153944  88.813623
1  EC03B_SOI 2019-02-17 20:01:22   33239.03  89.206268  89.123175
2  EC03B_SOI 2019-02-21 15:17:13  333239.03  88.764731  89.556541

In [15]:
df.set_index("timestamp").head(3)

                       PROCESS      LOTID    c_angle    e_angle
timestamp
2019-01-22 08:57:28  EC03B_SOI   33239.02  88.153944  88.813623
2019-02-17 20:01:22  EC03B_SOI   33239.03  89.206268  89.123175
2019-02-21 15:17:13  EC03B_SOI  333239.03  88.764731  89.556541

In [16]:
4/36 * 1/2

0.05555555555555555

In [17]:
72/4

18.0

In [18]:
np.sin(4)

-0.7568024953079282

In [19]:
np.pi

3.141592653589793

In [ ]:
@wraps(f)
def func_1(*args):
    return f(*args[::-1])
return func_1

In [ ]:
SELECT 
    productLine, 
    FLOOR(AVG(quantityInStock)) averageStock
FROM
    products
GROUP BY 
    productLine
ORDER BY 
    averageStock;