In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("./df_play.csv")
df.timestamp = pd.to_datetime(df.timestamp)
df.sort_values(by="timestamp", inplace=True)
df.reset_index(drop=True, inplace=True)
df.head(3)

     PROCESS           timestamp      LOTID    c_angle    e_angle
0  EC03B_SOI 2019-01-22 08:57:28   33239.02  88.153944  88.813623
1  EC03B_SOI 2019-02-17 20:01:22   33239.03  89.206268  89.123175
2  EC03B_SOI 2019-02-21 15:17:13  333239.03  88.764731  89.556541

In [3]:
df.set_index("timestamp").head(3)

                       PROCESS      LOTID    c_angle    e_angle
timestamp
2019-01-22 08:57:28  EC03B_SOI   33239.02  88.153944  88.813623
2019-02-17 20:01:22  EC03B_SOI   33239.03  89.206268  89.123175
2019-02-21 15:17:13  EC03B_SOI  333239.03  88.764731  89.556541

In [4]:
# for i in range(10, 20):
#     print(i-10)

In [5]:
a = np.array([1, 2, 3])
a = np.append(a, 24)
a

array([ 1,  2,  3, 24])

In [6]:
s = "abc"
s = list(s)
del s[1]
s

['a', 'c']

In [7]:
s = {1, 2, 3}
len(s)

3

In [8]:
# WEWOUCUIDGCGTRMEZEPXZFEJWISRSBBSYXAYDFEJJDLEBVHHKS
# FDAGCXGKCTKWNECHMRXZWMLRYUCOCZHJRRJBOAJOQJZZVUYXIC
# 15

In [9]:
def lcs(a, b):
    lengths = [[0 for j in range(len(b)+1)] for i in range(len(a)+1)]
    # row 0 and column 0 are initialized to 0 already
    for i, x in enumerate(a):
        for j, y in enumerate(b):
            if x == y:
                lengths[i+1][j+1] = lengths[i][j] + 1
            else:
                lengths[i+1][j+1] = \
                    max(lengths[i+1][j], lengths[i][j+1])
    # read the substring out from the matrix
    result = ""
    x, y = len(a), len(b)
    while x != 0 and y != 0:
        if lengths[x][y] == lengths[x-1][y]:
            x -= 1
        elif lengths[x][y] == lengths[x][y-1]:
            y -= 1
        else:
            assert a[x-1] == b[y-1]
            result = a[x-1] + result
            x -= 1
            y -= 1
    return result


str_a = "WEWOUCUIDGCGTRMEZEPXZFEJWISRSBBSYXAYDFEJJDLEBVHHKS"
str_b = "FDAGCXGKCTKWNECHMRXZWMLRYUCOCZHJRRJBOAJOQJZZVUYXIC"
a = [l for l in str_a]
b = [l for l in str_b]

a = [l for l in a if l in b]
b = [l for l in b if l in a]

print(len(lcs(a, b)))

15

In [16]:
# str_a = "WEWOUCUIDGCGTRMEZEPXZFEJWISRSBBSYXAYDFEJJDLEBVHHKS"
# str_b = "FDAGCXGKCTKWNECHMRXZWMLRYUCOCZHJRRJBOAJOQJZZVUYXIC"

str_a = "SHINCHAN"
str_b = "NOHARAAA"

a = [l for l in str_a]
b = [l for l in str_b]

a = [l for l in a if l in b]
b = [l for l in b if l in a]

lengths = [[0 for j in range(len(b)+1)] for i in range(len(a)+1)]
# row 0 and column 0 are initialized to 0 already
for i, x in enumerate(a):
    for j, y in enumerate(b):
        if x == y:
            lengths[i+1][j+1] = lengths[i][j] + 1
        else:
            lengths[i+1][j+1] = \
                max(lengths[i+1][j], lengths[i][j+1])
# # read the substring out from the matrix
# result = ""
# x, y = len(a), len(b)
# while x != 0 and y != 0:
#     if lengths[x][y] == lengths[x-1][y]:
#         x -= 1
#     elif lengths[x][y] == lengths[x][y-1]:
#         y -= 1
#     else:
#         assert a[x-1] == b[y-1]
#         result = a[x-1] + result
#         x -= 1
#         y -= 1

In [17]:
lengths

[[0, 0, 0, 0, 0, 0, 0],
 [0, 0, 1, 1, 1, 1, 1],
 [0, 1, 1, 1, 1, 1, 1],
 [0, 1, 2, 2, 2, 2, 2],
 [0, 1, 2, 3, 3, 3, 3],
 [0, 1, 2, 3, 3, 3, 3]]